html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 1rem;
  background-color: var(--note); 
  color: var(--text);
}

.dashboard-container .stats-wrapper {
  max-width: 800px;        
  margin: 0 auto;
}


   .greeting {
    margin-top: 30px; 
    margin-bottom: 30px; 
    text-align: center;
    color: var(--text); 
  }

.dashboard-container .greeting,
.dashboard-container .stats-wrapper {
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;  
}

.dashboard-container .greeting {
  color: var(--text);
  text-align: center;
  margin-bottom: 1rem;
}

.dashboard-container .stats-wrapper {
  overflow-x: hidden;
}

.dashboard-container .stats-summary .summary-section h4 {
  color: var(--text);
}

.dashboard-container .greeting h2 {
  color: var(--text);
}

