.dashboard-container {
  position: fixed;        
  top: 0;
  left: 250px;      
  right: 0;
  bottom: 0;
  overflow-y: auto;         
  overflow-x: hidden;         
  padding: 1rem 2rem;          
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--note); 
  color: #000;
}

.dashboard-container .stats-wrapper {
  max-width: 800px;        
  margin: 0 auto;
}

.dashboard-container.mode-nuit {
  background-color: #0b0626;
  color: rgb(149, 140, 140);
}
.dashboard-container.mode-zen {
  background-color: #9cccb5;
  color: rgb(80, 80, 80);
}
.dashboard-container.mode-jour {
  background-color: #eef5f8;
  color: #000;
}

.dashboard-container .greeting,
.dashboard-container .stats-wrapper {
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;  
}

.dashboard-container .greeting {
  color: var(--text);
  text-align: center;
  margin-bottom: 1rem;
}

.dashboard-container .stats-wrapper {
  overflow-x: hidden;
}

.dashboard-container.mode-nuit .stats-summary .summary-section h4 {
  color: rgb(183, 181, 181);
}

.dashboard-container.mode-nuit .greeting h2 {
  color: rgb(183, 181, 181);
}

