html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

   .greeting {
    margin-top: 30px; 
    margin-bottom: 30px; 
    text-align: center;
    color: var(--text); 
  }
  
  .mode-nuit .greeting {
    color: #f0f0f0;
  }
  
  .mode-zen .greeting {
    color: #1e3c2b;
  }