.start_btn {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border-radius: 10px;
    font-family: Arial, black serif;
}
.start_btn:active{

    background-color: #D2E3C0;
}

.timer_btn{
    font-family:Arial, sans-serif;
    
    background-color: #E0EDD4;
    font-family: Arial, black serif;
    border-radius: 10px;
    width: 150px;
    
}



.text_cercle{

    font-size: xx-large;
    font-family: Arial, black serif;
}

.cercle_box{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;

}

.animated_btn {
    background-color: #10217f  ;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
  .animated_btn:hover {
    background-color: #6979cf;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
  
  .animated_btn:active {
    background-color: #6979cf;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}



.auto_cont{


  display: flex;

  flex-direction: row;
  justify-content: center;
}
  .txt_pom_comsecutif{

    display: flex;
    flex-direction: row;
    justify-content: center;

  }


.btn_timer_container{
   
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
   
   
}
.cercle_main{
    background-color:white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-style: solid;
    border-color: black;

    margin-left: 50px;
    margin-right: 50px;

    
}


.button_srt_container{

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}