.start_btn{
    font-family:Arial;
    width: fit-content;
    align-self: center;
    background-color: #F1F7ED;  
}
.timer_btn{
    font-family:Arial, sans-serif;
    
    background-color: #E0EDD4;

    border-radius: 10px;
    width: 150px;
}








 

