.footer {
  padding: 5.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.footer-titre {
  width: 100%;
  text-align: center;

  margin-bottom: 3rem;
}

.footer-titre h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
  color: white;
}

.footer-bouton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;

  margin-bottom: 10rem;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  text-align: left;
}

.footer-links div {
  width: 250px;
  margin: 1rem;
}

.footer-links-logo {
  display: flex;
  flex-direction: column;
}

.footer-links-logo img {
  height: 30px;
  margin-bottom: 1rem;
  margin-left: 5px;
}

.footer-links-logo p {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  padding-left: 20px;
  text-align: left;
}

.footer-links-conteneur {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-links-conteneur h4 {
  font-size: 14px;
  line-height: 17px;
  color: #fff;

  margin-bottom: 0.9rem;

  padding-left: 20px;
}

.footer-links-conteneur a {
  font-size: 12px;
  line-height: 15px;
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;

  padding-left: 20px;
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .footer-titre h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .footer-titre h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .footer-links div {
    margin: 1rem 0;
  }

  .footer-links-logo img {
    margin-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .footer-titre h1 {
    font-size: 27px;
    line-height: 38px;
  }
}
