#app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

#mainReglages {
  padding: 2rem;
  margin: 0;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  left: var(--navbar-width,250px);
}

#reglages {
  padding: 2rem;
  width: 100%;
  max-width: 95%;
  max-height: 100%;
  margin: auto;
  margin-top: -1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;  
  overflow: auto;
  margin-left: 2rem;
}

#reglagesMinuteur,
#themeReglages {
  width: 100%; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 1rem;
}

#titreMainReglages {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

#ligne2Reglages {
  margin: 0;
  padding: 0;
  color: gray;
}

#minuteurTitreReglages {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

#themeTitreReglages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  margin: 0;
}

#themeReglages {
  display: flex;
  flex-direction: column; 
}

#reglagesMinuteur {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

#choixThemeReglages {
  width: 200px;
}

#boutonEnregistrerConteneurReglages {
  display: flex;            
  justify-content: flex-end;
  align-items: center;
}

#boutonEnregistrerReglages {
  margin-top: 1.5rem;
  padding: 0.3rem 0.3rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

#nomThemeReglages {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  gap: 8px; 
}

#pinceauReglages,
#horlogeMinuteur {
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

#mainReglages.mode-zen {
  background-color: #9cccb5; 
}

#mainReglages.mode-zen #reglages {
  background-color: #cfe4d9;
  color: rgb(80, 80, 80);
}

#mainReglages.mode-nuit {
  background-color: #0b0626;
}

#mainReglages.mode-nuit #reglages {
  background-color: #171a38;
  color: rgb(149, 140, 140);
}

#mainReglages.mode-nuit #themeTitreReglages,
#mainReglages.mode-nuit #minuteurTitreReglages {
  background-color: #292c4b;
  border-radius: 10px;
}

#mainReglages.mode-nuit .minuteurChoixReglages,
#mainReglages.mode-nuit .selectReglages {
  background-color: grey;
  color: #f0f0f0;
  border: none;
}

#mainReglages.mode-jour {
  background-color: #cfdbe1;
}

.sousTitreReglages {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: grey;
}

.barreReglages {
  margin-top: 1rem;
}

.labelReglages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.labelReglages,
.selectReglages {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e2e6d5;
  background: #e2e6d5;
  font-weight: bold;
  width: 100%; 
  max-width: 200px; 
}

.labelReglages1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  gap: 0.3rem;
}

.minuteurChoixReglages {
  background: #e2e6d5;
  border: 1px solid #e2e6d5;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 8px;
  width: 60px;
  text-align: center;
}

.spanReglages {
  font-size: 1rem;
  font-weight: bold;
}

.mode-zen #mainReglages { background-color: #9cccb5; }
.mode-zen #reglages { background-color: #e6f5e1; }
.mode-zen #boutonEnregistrerReglages { background-color: #9cccb5; }

.mode-nuit #mainReglages { background-color: #0b0626; }
.mode-nuit #boutonEnregistrerReglages { background-color: #2a387f; }

.mode-jour #mainReglages { background-color: #eef5f8; }
.mode-jour #reglages { background-color: white; }
.mode-jour #boutonEnregistrerReglages { background-color: #a6d4ff; }
