.boutiqueContainer {
    background-color: #E3EED9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow: hidden;
}

.h1Boutique {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.points {
    font-size: 1.2rem;
    font-weight: bold;
    background: #C6D0BD;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

#boutique {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.avatars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatars-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.avatars {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    background-color: #9db293;
}

.avatars img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.avatars:hover {
    transform: scale(1.1);
    background-color: #4e8733;
}

.grise {
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: pointer;
}

.grise:hover {
    transform: none;
    background-color: #9db293;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #C6D0BD;
    object-fit: cover;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: zoomIn 0.3s
}

.purchase-btn {
    padding: 10px 20px;
    background: #4e8733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.purchase-btn:hover {
    background-color: #3a6c29;
}

.close-btn {
    padding: 10px 20px;
    background: #4e8733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
    width: 100%; 
    box-sizing: border-box;

.close-btn:hover {
    background-color: #3a6c29;
}